{{ partial "header.html" . }}
<section id="content">
  <article class="post">
    <header>
      <h1 id="title" class="post-title">{{ .Title }}</h1>
    </header>
    <body>
      {{ .Content }}
    </body>
    <footer>
      <hr>
      <div id="meta">
        <div class="info-column">
          <div><strong>Information</strong></div>
          <div>{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
          <div>{{ .WordCount }} Words</div>
        </div>
        <div class="categories-column">
          <div><strong>Categories</strong></div>
          <ul>
            {{ with .Params.categories }}
              {{ range . }}
                <li><a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        <div class="tags-column">
          <div><strong>Tags</strong></div>
          {{ with .Params.tags }}
            {{ range . }}
              <a class="label" href="{{ "/tags/" | absURL }}{{ . | urlize }}">#{{ . | lower }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div id="sharelinks">
        <div><strong>Share On</strong></div>
        <a class="share-button twitter" href="https://twitter.com/intent/tweet?status={{ .Title }} {{ .Permalink }}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i> Twitter</a>
        <a class="share-button facebook" href="https://facebook.com/sharer/sharer.php{{ .Permalink }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <a class="share-button google" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google Plus"><i class="fa fa-google-plus"></i> Google+</a>
        <a class="share-button linkedin" href="http://linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <a class="share-button reddit" href="http://reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Share on Reddit"><i class="fa fa-reddit"></i> Reddit</a>
      </div>
      <hr>
      {{ partial "comments.html" . }}
    </footer>
  </article>
</div>
{{ partial "footer.html" . }}
