{{ partial "header.html" . }}
<section id="content">
  {{ $pages := where $.Pages "Type" "blog" }}
  {{ if gt (len $pages) 0 }}
  <h1 class="page-title">{{ $.Scratch.Get "title" }}</h2>
  <div>
    <ul>
      {{ range $pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}{{ if .Draft }}<div class="draft">DRAFT</div>{{end}}</a> &middot;
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>
{{ partial "footer.html" . }}
