{{ partial "header.html" . }}
<section id="content">
  {{ $translatedTitle := title (T (lower .Title)) }}
  {{ $pages := where $.Pages "Type" "blog" }}
  {{ if gt (len $pages) 0 }}
  <h1>{{ if eq $translatedTitle "" }}{{ .Title }}{{ else }}{{ $translatedTitle }}{{ end }}</h2>
  <div>
    <ul>
      {{ range $pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a> &middot;
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>
{{ partial "footer.html" . }}
