<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "meta.html" . }}
  {{ if eq (T (lower .Title)) "" }}
    {{ $.Scratch.Set "title" .Title }}
  {{ else }}
    {{ $.Scratch.Set "title" (title (T (lower .Title))) }}
  {{ end }}
  <title>{{ $.Scratch.Get "title" }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>
  {{ partial "header_icons.html" . }}
  {{ partial "header_includes.html" . }}
  {{ if .RSSLink }}<link href='{{ "{{ .RSSLink }}" | absURL }}" rel="alternate" type="application/rss+xml" title="{{ $.Scratch.Get "title" }}' />{{ end }}
</head>

<body class="theme-base">
{{ partial "sidebar.html" . }}
