{{ partial "header.html" . }}
<section id="content">
  <h1 class="page-title">{{ .Title }}</h1>
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    {{ $pages := where $taxonomy.Pages "Type" "blog" }}
    {{ if gt (len $pages) 0 }}
      <h2>{{ title $name }}</h2>
      <div>
        <ul>
          {{ range $pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a> &middot;
            <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
  </ul>
</section>
{{ partial "footer.html" . }}
